@import '../../sass/colors';

.theme_changer {
    color: var(--primary-color);
    font-weight: 500;
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    align-items: center;
    .theme_changer__toggler {
        width: 44px;
        height: 22px;
        border: 2px solid var(--primary-color);
        border-radius: 19px;
        display: flex;
        align-items: center;
        padding: 0px 2px;
        background-color: var(--input-bg-color);
    }

    .theme_changer__toggling {
        display: inline-block;
        height: 16px;
        width: 16px;
        background-color: var(--primary-color);
        border-radius: 50%;
        transform: translateX(0px);
        transition: transform 200ms;

        &.right {
            transform: translateX(20px);
        }
    }

    &:hover {
        cursor: pointer;
        border-color: var(--secondary-color);

        .theme_changer__toggling {
            background-color: var(--secondary-color);
        }
    }
}
