:root {
--white-xxl: white;
--white-l: #F6F6F6;
--white-m: #E8E8E8;
--white-blue: rgb(228, 233, 241);

--gray: #AEAEAE;

--blue-xxl: #8589E4;
--blue-s: #4A50C994;

--red: #CC2121;

--black-xxl: black;
--black-blue: #0E0E15;
}