@import '../../../sass/colors';

.reg__step-two {


    .reg__input {
        background-color: var(--input-bg-color);
        border: 1px solid var(--input-border-color);
        width: 100%;
        display: flex;
        outline: none;
        font-size: 16px;
        padding: 10px 16px;
        border-radius: 18px;
    }

    .reg__submit_btn {
        margin-top: 22px;
        border-radius: 18px;
        background-color: var(--primary-color);;
        border: none;
        color: var(--btn-text-color);
        font-weight: 500;
        font-size: 16px;
        padding: 8px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}