@import '../../../sass/colors';

.reg__step-two {

    .reg__submit_btn {
        margin-top: 22px;
        border-radius: 18px;
        background-color: var(--primary-color);;
        border: none;
        color: var(--btn-text-color);
        font-weight: 500;
        font-size: 16px;
        padding: 8px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}