@import './sass/colors';

body {
    margin: 0px;
    padding: 0px;
    background-color: $white-l;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}
