<div class="reg__step-one" #stepOneRef>
    <form>
        <app-base-validated-input #email [data]="validatedFields['email']" (typed)="handleFieldTyped($event)" (validation)="handleFieldValidation($event)"></app-base-validated-input>
        <app-base-validated-input #password [data]="validatedFields['password']" (typed)="handleFieldTyped($event)" (validation)="handleFieldValidation($event)"></app-base-validated-input>
        <app-base-validated-input #passwordRepeat [data]="validatedFields['passwordRepeat']" [validationFn]="compareToPasswordRepeat()" (typed)="handleFieldTyped($event)" (validation)="handleFieldValidation($event)"></app-base-validated-input>
        <button type="submit" class="reg__submit_btn" (click)="handleSubmitClick($event)">Create account</button>
    </form>
    <div class="reg__footer">
        By clicking 'Create account' you agree to our privacy policy and to apply me in the job (joking)'.
    </div>
</div>